name: Deploy Bicep file
on:
  workflow_dispatch:
    inputs:
      paramRG:
        description: 'Parameter for resource group'
        required: true
        default: 'dbr-private-rg-1'
  push:
    branches:
      - main
    
jobs:
  deploy-databricks-and-vm:
    runs-on: ubuntu-latest
    steps:

    - name: Checkout code
      uses: actions/checkout@main

    - name: Log into Azure
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: Databricks Deploy Bicep file
      uses: azure/arm-deploy@v1
      with:
        subscriptionId: ${{ secrets.AZURE_SUBSCRIPTION }}
        resourceGroupName: ${{ secrets.AZURE_RG }}
        template: ./main.bicep
        failOnStdErr: false

    - name: VM Deploy Bicep file
      uses: azure/arm-deploy@v1
      with:
         subscriptionId: ${{ secrets.AZURE_SUBSCRIPTION }}
         resourceGroupName: ${{ secrets.AZURE_RG }}
         template: ./vm.bicep
         failOnStdErr: false
